@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

main {
    position: relative;
    width: 100vh;
    height: 100vw;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.main-image {
    background: url('https://source.unsplash.com/random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.main-image-block {
    filter: brightness(90%);
    transition: filter 1s;
    transition-timing-function: ease-in-out;
    width: 100vw;
    height: 100vh;
}

.main-image-transition {
    filter: brightness(0%);
}

.main-time {
    display: inline;
    font-size: 100px;
    padding-right: 60px;
}

.main-time-block {
    position: absolute;
    top: 78vh;
    left: 80px;
    display: inline-block;
    color: white;
}

.main-weather {
    display: inline;
    font-size: 50px;
}

    #blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
